<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0768dcce-2649-47a5-8aea-da98e31c7bee/resourcegroups/GigHubWebApp/providers/Microsoft.Web/sites/GigHub2k19</ResourceId>
    <ResourceGroup>GigHubWebApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gighub2k19.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gighub2k19.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GigHub2k19</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GigHub2k19</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=gighub2k19.database.windows.net;Initial Catalog=GigHub2k19;User ID=Perrym14;Password=Cobraking1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GigHub.Persistence.ApplicationDbContext, GigHub" MigrationConfiguration="GigHub.Migrations.Configuration, GigHub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=gighub2k19.database.windows.net;Initial Catalog=GigHub2k19;User ID=Perrym14;Password=Cobraking1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>